@import "src/assets/scss/variables";

.root-container {
  border-bottom: 1px solid rgba($primary-color-dark, 0.7);
}

.spacer {
  flex: 1 1 auto;
}

.title {
  text-align: center;
  //border-right: 1px solid rgba($primary-color-light, 0.5);
  font-size: 24px;
  font-weight: 300;
}

nav {
  background-color: $primary-color;
  background: url('../../../../../assets/images/nav-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 0;
  display: flex;
  align-items: center;
  height: 50px;
}

a {
  transition: 300ms;
}

a:hover, a:focus {
  background-color: rgba($primary-color-light, 0.3) !important;
}

a span, a md-icon {
  color: #fff !important;
  z-index: 9999;
  margin-right: 10px;
}

.mobile-menu {
  position: absolute;
  right: 0;
}

a[_ngcontent-c3] span[_ngcontent-c3], a[_ngcontent-c3] md-icon[_ngcontent-c3] {
  margin-right: 0 !important;
}

.profile-menu {
  margin-right: 1px;
}

.profile-menu md-icon {
  margin-left: 5px !important;
}
