<div class="root-container">
  <div class="background"></div>
  <md-card>
    <md-progress-bar
      mode="indeterminate"
      *ngIf="loading">
    </md-progress-bar>
    <md-progress-bar
      mode="determinate"
      value="100"
      *ngIf="!loading">
    </md-progress-bar>
    <md-card-header>
      <md-card-title>
        Sign In
      </md-card-title>
      <md-card-subtitle>
        to continue to Rackian Cloud
      </md-card-subtitle>
    </md-card-header>

    <md-card-content>
      <div>
        <md-input-container>
          <input mdInput placeholder="Username"
                 [disabled]="loading">
        </md-input-container>
      </div>
      <div>
        <md-input-container>
          <input mdInput type="password" placeholder="Password"
                 [disabled]="loading">
        </md-input-container>
      </div>
      <div class="checkbox">
        <md-checkbox color="primary" [disabled]="loading">
          Remember me
        </md-checkbox>
      </div>
    </md-card-content>
    <md-card-actions [ngClass]="{'card-border' : !loading}">
      <button md-button color="primary" (click)="login()">
        LOGIN
      </button>
    </md-card-actions>
  </md-card>

</div>
