.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.root-container rackian-main-bar {
  flex-grow: 0;
  flex-shrink: 0;
}
main {
  flex-grow: 1;
}
.root-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
rackian-main-menu {
  z-index: 10;
}
rackian-info-panel {
  z-index: 9;
}
.main-zone {
  z-index: 9;
  display: flex;
  flex-direction: column;
}
rackian-breadcums {
}
rackian-main-panel {
  z-index: 8;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}
