@import "src/assets/scss/variables";

.root-container {
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 2px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-color: #eee;
  display: flex;
  flex-direction: column;
  width: 280px;
  z-index: 999;
}

.title {
  height: 45px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 2px 2px 0 0;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  color: #424242;
  display: flex;
  padding: 10px 20px;
  justify-content: space-between;
  align-items: center;
}

md-progress-spinner {
  height: 35px;
  width: 35px;
  margin-left: 10px;
}

.file-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: -12px;
}
.file-name-text {
  margin-left: -5px;
}
span {
  vertical-align: middle;
}

.close {
  cursor: pointer;
}

.success-icon, .error-icon {
  margin-left: 10px;
}
.success-icon {
  color: #4CAF50;
}
.error-icon {
  color: #F44336;
}
.message {
  word-wrap: break-word;
  overflow: auto;
}
