.root-container {
  display: flex;
  flex-direction: row;
  min-height: 100%;
  flex: 1 1 0;
}
main {
  flex-grow: 1;
}
rackian-main-menu {
  z-index: 10;
}
rackian-info-panel {
  z-index: 9;
}
.main-zone {
  z-index: 9;
  display: flex;
  flex-direction: column;
}
rackian-breadcums {
}
rackian-main-panel {
  z-index: 8;
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
}
