.root-container {
  height: 100%;
  background-color: #eeeeee;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-right: 1px solid #ccc;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.list {
  flex-grow: 1;
}

.list-item {
  margin: 15px 15px 30px;
}

.list-item .title {
  margin-top: 3px;
  font-weight: 500;
  color: #212121;
}

.list-item .value {
  margin-top: 5px;
  color: #424242;
  font-size: 13px;
  word-wrap: break-word;
}

.space {
  padding: 15px;
  background-color: #f5f5f5;
  flex-shrink: 1;
  font-size: 14px;
  color: #424242;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #BDBDBD;
}
.space md-progress-spinner {
  margin-left: 10px;
}
.space md-progress-spinner, .fake-spinner, .fake-spinner svg {
  height: 35px;
  width: 35px;
}
.spinners {
  position: relative;
}
.spinners :first-child {
  z-index: 1;
}
.spinners :last-child {
  position: absolute;
  top: 0;
  left: 0;
}


.list-item.share .value {
  display: flex;
  flex: 1 1 100% !important;
  overflow: hidden;
  align-items: center;
}
.list-item.share .value .link {
  flex-grow: 1;
  flex-shrink: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  height: 36px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-right: 0;
}
.list-item.share .value .button button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
  outline: none;
}
