<div class="root-container">
    <div class="list">
        <div *ngIf="selectedResource?.name" class="list-item" fxLayout.sm="column">
            <div class="title" fxFlex.gt-sm="50">
                Name
            </div>
            <div class="value" fxFlex.gt-sm="50">
                {{ selectedResource.name }}
            </div>
        </div>
       <div *ngIf="selectedResource?.size" class="list-item" fxLayout.sm="column">
           <div class="title" fxFlex.gt-sm="50">
               Size
            </div>
           <div class="value" fxFlex.gt-sm="50">
               {{ selectedResource.size | fileSize }}
           </div>
        </div>
       <div *ngIf="selectedResource?.mime_type" class="list-item" fxLayout.sm="column">
           <div class="title" fxFlex.gt-sm="50">
               Type
            </div>
           <div class="value" fxFlex.gt-sm="50">
               {{ selectedResource.mime_type }}
           </div>
        </div>
       <div *ngIf="selectedResource?.created_at" class="list-item" fxLayout.sm="column">
           <div class="title" fxFlex.gt-sm="50">
                Created
            </div>
           <div class="value" fxFlex.gt-sm="50">
               {{ selectedResource.created_at | date:'medium' }}
           </div>
        </div>
       <div *ngIf="selectedResource?.updated_at" class="list-item" fxLayout.sm="column">
           <div class="title" fxFlex.gt-sm="50">
               Updated
            </div>
           <div class="value" fxFlex.gt-sm="50">
               {{ selectedResource.updated_at | date:'medium' }}
           </div>
        </div>
        <div *ngIf="selectedResource?.description" class="list-item" fxLayout.sm="column">
            <div class="title" fxFlex.gt-sm="50">
                Description
            </div>
            <div class="value" fxFlex.gt-sm="50">
                {{ selectedResource.description }}
            </div>
        </div>
  </div>
  <div class="space">
    <span *ngIf="!user.getSpace()"> 0 &nbsp;</span>
    <span *ngIf="user.getSpace()">{{ user.getSpace() | fileSize:0 }} &nbsp;</span>
    <span> / {{ user.getSpaceTotal() | fileSize:0 }}</span>
    <div class="spinners">
      <md-progress-spinner
        class="fake-spinner"
        mode="determinate"
        value="100">
      </md-progress-spinner>

      <md-progress-spinner
        class="space-spinner"
        color="primary"
        mode="determinate"
        [value]="spacePercentage">
      </md-progress-spinner>
    </div>
  </div>
</div>
