* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body, rackian-layout, md-sidenav-container {
    margin: 0;
    width: 100%;
    height: 100%;
}
