<div class="root-container">
  <div class="headers">
    <div class="title-name" fxFlex.xs="40" fxFlex.gt-xs="50">
      <span>Name</span>
    </div>
    <div class="title-modified" fxFlex.xs="25" fxFlex.gt-xs="30">
      <span fxHide.xs>Last </span><span>Modified</span>
    </div>
    <div class="title-size" fxFlex.xs="25" fxFlex.gt-xs="15">
      <span>Size</span>
    </div>
  </div>
  <div class="resources-list">

    <md-nav-list>
      <div *ngFor="let folder of folders">
        <md-list-item disableRipple="true" (click)="selectResource(folder)" (dblclick)="changeFolder(folder)" [ngClass]="{'active': folder === selectedResource}">
          <div class="element-name" fxFlex.xs="40" fxFlex.gt-xs="50">
            <md-icon>folder</md-icon>
            <span>{{ folder.name }}</span>
          </div>
          <div class="element-modified" fxFlex.xs="25" fxFlex.gt-xs="30">
            <span>{{ folder.updated_at | date:'mediumDate' }}</span>
          </div>
          <div class="element-size" fxFlex.xs="25" fxFlex.gt-xs="15">
            <span></span>
          </div>
          <div class="element-size" fxFlex.xs="10" fxFlex.gt-xs="5">
            <md-menu class="dropdown-menu" #appMenu2>
              <button md-menu-item (click)="changeFolder(folder)">
                <md-icon>open_in_new</md-icon>
                Open
              </button>
              <!--<button md-menu-item>-->
                <!--<md-icon>file_download</md-icon>-->
                <!--Download-->
              <!--</button>-->
              <!--<button md-menu-item>-->
                <!--<md-icon>folder</md-icon>-->
                <!--Move-->
              <!--</button>-->
              <!--<button md-menu-item>-->
                <!--<md-icon>share</md-icon>-->
                <!--Share-->
              <!--</button>-->
              <button md-menu-item (click)="deleteFolder(folder)">
                <md-icon>delete</md-icon>
                Remove
              </button>
            </md-menu>
            <button md-icon-button [mdMenuTriggerFor]="appMenu2">
              <md-icon>more_vert</md-icon>
            </button>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </div>

      <div *ngFor="let file of files">
        <md-list-item disableRipple="true" (click)="selectResource(file)" (dblclick)="openFile(file)" [ngClass]="{'active': file === selectedResource}">
          <div class="element-name" fxFlex.xs="40" fxFlex.gt-xs="50">
            <md-icon>insert_drive_file</md-icon>
            <span>{{ file.name }}</span>
          </div>
          <div class="element-modified" fxFlex.xs="25" fxFlex.gt-xs="30">
            <span>{{ file.updated_at | date:'mediumDate' }}</span>
          </div>
          <div class="element-size" fxFlex.xs="25" fxFlex.gt-xs="15">
            <span>{{ file.size | fileSize }}</span>
          </div>
          <div class="element-size" fxFlex.xs="10" fxFlex.gt-xs="5">
            <md-menu class="dropdown-menu" #appMenu1="mdMenu">
              <a md-menu-item href="{{ file.link }}" target="_blank">
                <md-icon>open_in_new</md-icon>
                Open
              </a>
              <a md-menu-item href="{{ file.link }}" download="asdfasfd">
                <md-icon>file_download</md-icon>
                Download
              </a>
              <!--<button md-menu-item>-->
                <!--<md-icon>folder</md-icon>-->
                <!--Move-->
              <!--</button>-->
              <!--<button md-menu-item>-->
                <!--<md-icon>share</md-icon>-->
                <!--Share-->
              <!--</button>-->
              <button md-menu-item (click)="deleteFile(file)">
                <md-icon>delete</md-icon>
                Remove
              </button>
            </md-menu>
            <button md-icon-button [mdMenuTriggerFor]="appMenu1">
              <md-icon>more_vert</md-icon>
            </button>
          </div>
        </md-list-item>
        <md-divider></md-divider>
      </div>

    </md-nav-list>
  </div>

</div>
