<div class="root-container">
    <span>{{title}}</span>
    <div class="list">
        <div class="list-item" fxLayout.sm="column">
            <div class="title" fxFlex.gt-sm="50">
                Name
            </div>
            <div class="value" fxFlex.gt-sm="50">
                Call of Cthulhu
            </div>
        </div>
       <div class="list-item" fxLayout.sm="column">
           <div class="title" fxFlex.gt-sm="50">
               Size
            </div>
           <div class="value" fxFlex.gt-sm="50">
               432.45 KB
           </div>
        </div>
       <div class="list-item" fxLayout.sm="column">
           <div class="title" fxFlex.gt-sm="50">
               Type
            </div>
           <div class="value" fxFlex.gt-sm="50">
               Pdf
           </div>
        </div>
       <div class="list-item" fxLayout.sm="column">
           <div class="title" fxFlex.gt-sm="50">
                Created
            </div>
           <div class="value" fxFlex.gt-sm="50">
               2017-05-01 14:23
           </div>
        </div>
       <div class="list-item" fxLayout.sm="column">
           <div class="title" fxFlex.gt-sm="50">
               Updated
            </div>
           <div class="value" fxFlex.gt-sm="50">
               2017-05-01 14:23
           </div>
        </div>
       <div class="list-item" fxLayout.sm="column">
           <div class="title" fxFlex.gt-sm="50">
               Location
           </div>
           <div class="value" fxFlex.gt-sm="50">
               My Cloud
           </div>
        </div>
        <div class="list-item" fxLayout.sm="column">
            <div class="title" fxFlex.gt-sm="50">
                Description
            </div>
            <div class="value" fxFlex.gt-sm="50">
                Short description
                Short description
                Short description
            </div>
        </div>
    </div>
</div>
